.button{
    margin: 20px;
    display: inline-block;
    border: 2px solid #fff6da;
    border-radius: 5px;
    background-color: #fff6da;
}
.buttons{
    color:#042f4b;
}
/*background-color: #042f4b;*/
