@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
@import url("https://fonts.googleapis.com/css2?family=Changa+One");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One");
*{
  box-sizing: border-box;
}

body{
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #042f4b;
  color:#fff6da;
  font-size: 16px;
}

h1{
  font-family:'Shrikhand', cursive;
}



