
.end{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.end a{
  margin:0 10px;
  
}

.image-cropper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.nav-bar-user-image {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

header{
  border-bottom: 1px solid ;
  margin-bottom: 30px;
}

.home-link a{
  margin-left: 20px;
  font-size: 25px;
  font-weight: lighter;
  color:#fff6da;
  font-family:'Shrikhand', cursive;
}

@media screen and (min-width: 850px){
  .home-link a{
    float: left;
    font-size: 30px;
  }
  .image-cropper {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 500px){
  .home-link a{
    float: left;
  }
  .image-cropper {
    width: 60px;
    height: 60px;
  }
}

