nav {
  display: flex;
  flex-direction: row;
}

.nav-right {
  justify-content: flex-end;
}

.image-cropper {
  width: 75px;
  height: 75px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.nav-bar-user-image {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}