#des{
    margin-top:10px ;
}

textarea::placeholder{
    color:#042f4b;
}

textarea{
    margin-top: 5px;
    width: 85%;
    height: 50px;
}

.upload{
    font-weight: bold;
    font-size: 18px;
}