#newComment{
    width: 230px;
    height: 40px;
    padding-right: 70px;
}
#post{
    margin-left: -70px;
    height: 20px;
    color:#042f4b;
    padding: 0;
    background-color: white;
    border: none;
    margin-right: 0;
    width: 50px;
}
#post:hover {  
    color:#ed1250;   
}

.memePost{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.single{
   display: inline-block;
  
   
}
.user_name{
    display: inline-block;
    margin-left: 20px;
}
.user{
    font-weight: bold;
    margin-right: 10px;
}