#newComment{
    width: 230px;
    height: 40px;
    padding-right: 70px;
}
#post{
    margin-left: -70px;
    height: 20px;
    color:#042f4b;
    padding: 0;
    background-color: white;
    border: none;
    margin-right: 0;
    width: 50px;
}
#post:hover {  
    color:#ed1250;   
}