#newComment{
    width: 100%;
    margin-left: 0px;
    height: 40px;
    padding-right: 70px;
    padding-left: 5px;
}
#post{
    margin-left: -70px;
    height: 20px;
    color:#042f4b;
    padding: 0;
    background-color: white;
    border: none;
    margin-right: 0;
    width: 50px;
    border-radius: 0%;
}
#post:hover {  
    color:#ed1250;   
}

.memePost{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    color:#042f4b;
}
.user_name{
    display: inline-block;
    font-weight: normal;
    margin-right: 15px;
    color:#042f4b;     
}

.namedes{
  text-align: left;
}

.first{
    display: flex;
    justify-content: space-between;
}
.first > .delete{
    margin: 10px;
}
.before:hover{
    color:#ed1250 ;
}
.des{
    font-size: 16px;
    margin-left: 10px; 
}
.photoview{
    margin-left: 10px;
    float: right;
}
.delete:hover{
    color:#ed1250 ;
}

.before{
  margin-right: 5px;
}
.user{
    margin-right: 10px;
}

.heart{
    display: inline-block;
}

.comments{
  display: flex;
  margin-left: 10px;
  margin-bottom: 0px;
}
.comment > a{
    color:#042f4b;
}
.comment{
    margin-top: 0;
    
}
.comment > a:hover{
    color:#ed1250;
}

.postComment{
    border: none;
    padding: 18px;
}
.commentdiv{
    margin-right: 6px;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.content{
   padding:10px ;
}
@media screen and (min-width: 481px){
    .photoview{
        margin: 10px;
        float: right;
        font-size: 16px;
    }
    
}

@media screen and (max-width: 365px){
  .content >.delete{
      margin-top:15px ;
  }
}
