
.upper-container > .image-cropper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50%;
  
}

.user-img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
  
}

.upper-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.username {
  margin: 0 15px 0 10px;
}

.heart:hover {
  cursor: pointer;
}

.description-contianer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.description-contianer > .username {
  margin: 0 10px;
}

.meme {
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.delete-emoji:hover {
  cursor: pointer;
}

.post {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: 100%;
  margin-bottom: 30px;
  color: #042f4b;
  background-color: white;
}


.post  a{
  color: #042f4b;
}
.post  a:hover{
  color: #ed1250;
}

.toComment{
  border: 2px solid;
  padding: 3px;
}

.unique{
   margin: 10px;
   display: flex;
   font-weight:bold ;
   justify-content: space-between;
}

.description{
  padding-right: 10px;
  text-align: justify;
}
@media screen and (min-width: 851px){
  .post {
    width: 60%;
    max-width: 700px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 481px){
  .upper-container > .image-cropper {
    width: 60px;
    height: 60px;
  }
  .post {
    width: 80%;
    margin-bottom: 50px;
  }
  .upper-container > .image-cropper {
    width: 65px;
    height: 65px;
  }
  
}

@media screen and (max-width: 390px){
 .delete-container{
   margin-top: -10px;
 }
}